BR2_arm=y
BR2_cortex_m7=y
BR2_BINFMT_FDPIC=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_15=y
BR2_GLOBAL_PATCH_DIR="board/stmicroelectronics/stm32f746-disco/hammer/preempt-rt-patches board/stmicroelectronics/stm32f746-disco/patches board/stmicroelectronics/stm32f746-disco/hammer/patches board/stmicroelectronics/stm32f746-disco/qspi/patches"
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_OVERLAY="board/stmicroelectronics/stm32f746-disco/hammer/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/stmicroelectronics/stm32f746-disco/hammer/post-build.sh board/stmicroelectronics/stm32f746-disco/qspi/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/stmicroelectronics/stm32f746-disco/hammer/post-image-qspi-xip.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.15.211"
BR2_LINUX_KERNEL_DEFCONFIG="stm32"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/stmicroelectronics/stm32f746-disco/linux.fragment board/stmicroelectronics/stm32f746-disco/hammer/linux.fragment board/stmicroelectronics/stm32f746-disco/qspi/linux.fragment board/stmicroelectronics/stm32f746-disco/hammer/qspi-xip.fragment board/stmicroelectronics/stm32f746-disco/hammer/linux-preempt-rt.fragment"
BR2_LINUX_KERNEL_IMAGE_TARGET_CUSTOM=y
BR2_LINUX_KERNEL_IMAGE_TARGET_NAME="xipImage"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="board/stmicroelectronics/stm32f746-disco/hammer/stm32f746-disco-hammer.dts"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/stmicroelectronics/stm32f746-disco/hammer/busybox.fragment"
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_DROPBEAR=y
# BR2_PACKAGE_DROPBEAR_CLIENT is not set
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_DROPBEAR_LOCALOPTIONS_FILE="board/stmicroelectronics/stm32f746-disco/qspi/dropbear-localoptions.h"
BR2_PACKAGE_NATIVE_LINUX_HAMMER=y
BR2_TARGET_ROOTFS_CRAMFS=y
BR2_TARGET_ROOTFS_CRAMFS_XIP=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2026.07"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="stm32f746-disco"
BR2_TARGET_UBOOT_DEFAULT_ENV_FILE="board/stmicroelectronics/stm32f746-disco/hammer/qspi-xip-uboot-env.txt"
BR2_TARGET_UBOOT_NEEDS_OPENSSL=y
BR2_PACKAGE_HOST_OPENOCD=y
